@model WorkoutTracker.Models.Workout
<link rel="stylesheet" href='~/css/WorkoutDelete.css' />
<link rel="stylesheet" href='~/css/index.css' />
<h1>Gostaria de remover este treino?</h1>
<hr />
<div>
	<div class="inputColumn">
		<input disabled placeholder="@Model.Name" />
		<input disabled placeholder="@((Model.DateTime).ToString("g"))" />
		<input disabled placeholder="@((Model.Duration).ToString(@"hh\:mm"))" />
		<ul>
			@foreach (var item in Model.Exercises)
			{
				<li>@item.Name</li>
			}
		</ul>
	</div>
	<form asp-action="Delete">
		@Html.AntiForgeryToken()
		<input type="hidden" asp-for="Id" />
		<a class="btn btn-Voltar" asp-action="Index">Voltar</a>
		<input type="submit" value="Remover" class="btn btn-Remover" />
	</form>
</div>