@model WorkoutTracker.Models.Category
<link rel="stylesheet" href='~/css/ExerciseDelete.css' />
<link rel="stylesheet" href='~/css/CategoryDelete.css' />
<h1>Gostaria de remover esta categoria?</h1>
<hr />
<a class="btn btn-Voltar" asp-action="Index">Voltar</a>
<div>
	<div class="inputColumn">
		<h4>Nome: <span>@Model.Name</span></h4>
		<h4 id="quantTreino">Quantidade de treinos cadastrados: <span>@Model.Workouts.Count()</span></h4>
		<div id="colors">
			<h4>Cor:</h4>
			<div style="background-color:@Model.Color" id="color"></div>
		</div>
	</div>
	<br />
	<h6 class="text-danger one"></h6>
	<h6 class="text-danger two"></h6>
	<br />
	<input id="hasWorkout" hidden value="@Model.Workouts.Count()" />
	<form asp-action="Delete">
		@Html.AntiForgeryToken()
		<input type="hidden" asp-for="Id" />
		<button type="submit" class="btn btn-Remover">Remover</button>
	</form>
</div>
@section Scripts{
<script src="@Url.Content("~/js/CategoryDelete.js")" type="text/javascript"></script>
}