@model WorkoutTracker.Models.Exercise
<link rel="stylesheet" href='~/css/ExerciseDelete.css' />
<h1>Gostaria de remover este exercício?</h1>
<hr />
<div>
	<div class="inputColumn">
		<h4>Nome: @Model.Name</h4>
		<div>
			<h6>Músculo:</h6>
			@foreach (var item in Model.Muscles)
			{
				<p> - @item.Name</p>
			}
		</div>
		<h6></h6>
	</div>
	<h6 class="text-danger"></h6>
	<input id="hasWorkout" hidden value="@Model.Workouts.Count()" />
	<form asp-action="Delete">
		@Html.AntiForgeryToken()
		<input type="hidden" asp-for="Id" />
		<a class="btn btn-Voltar" asp-action="Index">Voltar</a>
		<input type="submit" value="Remover" class="btn btn-Remover" />
	</form>
</div>
@section Scripts{
<script src="@Url.Content("~/js/exerciseDelete.js")" type="text/javascript"></script>
}